@font-face {
    font-family: 'bootstrap';
    src: url('./fonts/glyphicons-halflings-regular.ttf'); 
    font-style: normal;
    font-weight: 100;
}

* {
	font-family: "arial narrow" ;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efeeee;
	
	/* overflow-x: hidden; */
}


a:link,a:visited{
	font-size: 0.8em;
	font-weight: 400;
	color: #000000;
	text-align: center;
	padding: 6px;
	text-decoration: none;
}

a:hover,a:active{
	font-size: 0.8em;
	color: dimgray;
	
}


::selection {
	background: #26a69a;
	color: #ffffff;
}


#mainbody {
	min-width: 1000px;
	
    margin-top: 0px;
    padding: 10px;
    height: auto;
    width: 95%;
    border-radius: 20px;
    /* background-color: #efeee; */
    box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.1), -18px -18px 30px rgba(255, 255, 255, 1);
}

#mainbody img {
    height: 90px;
    margin-left: 15px;
    display: inline;
}

#mainbody img:hover {
    transform: rotate(360deg);
    transition-duration: 1s;
}

#mainbody .user_name {
    float: right;
    display: inline;
    font-size: 1.5em;
    margin-right: 35px;
    line-height: 90px;
}

#mainbody .user_name:hover {
    color: #4c4c4c;
}

#mainbody .user_head {
    float: right;
    margin: auto;
    margin-right: 30px;
}

#mainbody .user_head img {
    float: right;
    margin-right: 15px;
    display: inline;
    right: 15px;
}

#mainbody .row {
    margin: 10px;
}

#mainbody .row .btn {
    background-color: #EFEEEE;
    height: 40px;
    border-radius: 10px;
    border: #878787;
	
    margin-top: 10px;
    color: #474747;
    box-shadow: none;
    text-shadow: none;
}

#mainbody .row .btn:hover {
    background-color: #f3f2f2;
}

#mainbody .row #title {
    margin: 0px;
    margin-left: 10px;
}

#mainbody .row .row {
    height: 60px;
    border-radius: 5px;
}

#mainbody [class*="col-"] {
    /* min-height: 530px; */
    overflow: hidden;
}

#mainbody .col-md-9 {
    /* overflow: scroll; */
    min-height: 530px;
	overflow: scroll;
}

#mainbody .col-md-9 .row .panel-collapse {
    /* min-height: 400px; */
    border-radius: 20px;
    background-color: #ffffff;
}

#mainbody .collapse {
    height: auto;
    margin-bottom: 10px;
    bottom: 0px;
    overflow: hidden;
}

#mainbody .col-md-9 .container {
	
	padding: 0px;
    width: auto;
	/* overflow: scroll; */
}

#mainbody .col-md-9 .container .row {
    margin-top: 0px;
    height: 40px;
    text-align: center;
}

#mainbody .col-md-9 .container .row p {
    height: 40px;
    display: inline;
    line-height: 40px;
	
	
}


#mainbody .row .row .row{
	height: 40px;
}
#homework-title {
    height: 40px;
	padding-left: 5px;
	padding-right: 5px;
	
	line-height: 40px;
	
	background-color: #EFEEEE;
	
	
	border-radius: 10px;
}


/* #mainbody .col-md-9  .container .row .col-md-9 */


#homework-information{
	height: 120px;
	max-height: 120px;
	border-radius: 5px;
	
	color: #242424;
	line-height: 40px;
}

#homework-information:hover{
	background-color: #383838;
	color: #eaeaea;
}

#calen{
	position: absolute;
	
	height: 80px;
	width: 80px;
	border-radius: 40px;
	bottom: 25px;
	right: 5px;
	
	background-color: #1B6D85;
	border: none;
}

#calen:focus{
	border: none;
	outline: 0px;
	
}

#calen:hover{
	opacity: 0.8;
}


#calen img{
	height: 40px;
}



.modal{
	
	/* border-radius: 50px; */
}

.modal-body{
	background-color: #f7f7f7;
	
}

	
.modal-footer{
	
	border: none;
	background-color: #f7f7f7;
}

.modal-footer button{
	border: none;
	border-radius: 15px;
}







.owner{
	width: 100%;
	height: 20px;
	min-height: 10px;
	position: absolute;
	bottom: 0px;
	background-color: #e3e3e3;
	padding-left: 20px;
	
	
	color: #3a3a3a;
	
}
.owner:hover{
	color: #000000;
}
