*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #efeeee;
	
}


.header{
	height: 110px;
	width: 100%;
	padding-top: 15px;
	margin-top: 0px;
	
	position: absolute;
	
	top: 0px;
	
}
.header img{
	height: 90px;
	margin-left: 15px;
	display: inline;
}

.header img:hover{
	transform: rotate(360deg);
	transition-duration: 1s;
}

.header .user_name{
	float: right;
	display: inline;
	
	font-size: 1.5em;
	margin-right: 35px;
	line-height: 90px;
}

.header .user_name:hover{
	color: #4c4c4c;
}

.header .user_head{
	float: right;
	margin: auto;
	border-radius: 45px;
	
	margin-right: 30px;
	
}
.header .user_head img{
	float: right;
	margin-right: 15px;
	display: inline;
	right: 15px;
	border-radius: 45px;
}
.header p{
	
	
	
}
.body{
	width: 610px;
	height: 610px;
	
	display: block;
}

.container{
	width: 600px;
	height: 600px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	
}

.container .box{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
	width: 100px;
	height: 140px;
	margin: 20px;
	
	
}

.container .box .img{
	width: 100px;
	height: 100px;
	
	box-shadow: 18px 18px 30px rgba(0,0,0,0.1),
	-18px -18px 30px rgba(255,255,255,1);
	
	border-radius: 20px ;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #EFEEEE;
	
	transition: box-shadow .1s ease-out;
	position: relative;

}

.container .box .img img{
	width: 60px;
	transition: width .1s ease-out;
}

.container .box p{
	color: slategray;
	
}

.container .box .img:hover{
	box-shadow: 0px 0px 0px rgba(0,0,0,0.1),
	0px 0px 0px rgba(255,255,255,1),
	inset 18px 18px 30px rgba(0,0,0,0.1),
	inset -18px -18px 30px rgba(255,255,255,1);
}

.container .box .img:hover img{
	width: 58px;
	transition: width .1s ease-out;
}